main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
}

.produto {
  display: flex;
}

main .imagens-produto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 20px;
}

main .imagens-produto .imagem-container {
  width: 90px;
  height: 90px;
  background-color: #efefef;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .mouse-principal-viper {
  width: 110px;
  height: 110px;
  object-fit: cover;
}

main .mouse-frente-viper {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

main .mouse-cima-viper {
  width: 110px;
  height: 110px;
  object-fit: cover;
}

main .mouse-atras-viper {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

main .imagem-principal {
  width: 425px;
  height: 425px;
  background-color: #efefef;
  border-radius: 12px;
  display: flex;
  justify-content: right;
}

main .imagem {
  position: absolute;
  width: 425px;
  height: 425px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .model-3d {
  visibility: hidden;
}

main #show-3d {
  position: absolute;
  background-color: rgba(218, 218, 218, 0.699);
  text-align: center;
  font-family: "Bayon", Helvetica;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-self: self-end;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
}

main #show-3d .viewer-icon {
  margin-top: 3px;
  width: 30px;
  height: 30px;
  opacity: 60%;
}

main #show-3d p{
  transform: translateY(-3px);
  opacity: 60%;
  font-size: 14px;
}

main .botao-fechar {
  width: 30px;
  height: 30px;
  opacity: 60%;
  visibility: hidden;
  position: absolute;
  transform: translate(1px,10px);
}

main .mouse-viper {
  width: 425px;
  height: 425px;
  object-fit: cover;
  position: absolute;
}

main .seta {
  margin-left: 5px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  transform: rotateZ(180deg);
  z-index: 5;
  cursor: pointer;
  transition: all 0.5s ease;
}

main .seta2 {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  z-index: 5;
  cursor: pointer;
  transition: all 0.5s ease;
}

main .seta:active ,main .seta2:active {
  opacity: 30%;
}

main .titulo-produto {
  width: 549px;
  height: 130px;
  margin-left: 30px;
}

main .nome-produto {
  width: 440px;
  font-family: "Bungee", Helvetica;
  color: #000000;
  font-size: 35px;
  line-height: normal;
}

main .avaliacao {
  display: flex;
  align-items: center;
  transform: translateX(-10px);
}

main .qntAvaliacoes {
  font-family: "Noto Sans Hebrew", Helvetica;
  color: #57585a;
  font-size: 14px;
  line-height: normal;
  margin-bottom: 2px;
}

main .estrelas {
  width: 140px;
  height: 30px;
}

main .custo-produto {
  width: 170px;
  height: 85px;
  margin-left: 40px;
  margin-top: 10px;
}

main .preco-produto {
  font-family: "Bayon", Helvetica;
  color: #c35f5f;
  font-size: 35px;
  line-height: normal;
}

main .juros {
  font-family: "Bree Serif", Helvetica;
  color: #57585a;
  font-size: 18px;
  line-height: normal;
  transform: translateY(-20px);
}

main .comprar {
  margin-top: 40px;
  width: 445px;
  height: 75px;
  border-radius: 12px;
  background-color: #38c9ff;
  border: 0;
  font-family: "Candal", Helvetica;
  color: #eeeded;
  font-size: 30px;
  line-height: normal;
  transform: translateX(-10px);
  cursor: pointer;
}

.carregando {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #3498db;
  animation: pulseAnim 1.5s infinite;
  position: absolute;
  align-self: center;
  margin-right: 192.5px;
  visibility: hidden;
}

@keyframes pulseAnim {
  0% { transform: scale(0.8); opacity: 0.6; }
  50% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0.8); opacity: 0.6; }
}